@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.App {
  text-align: center;
}

* {
    box-sizing: border-box;
}

html {
    background-color: #fff;
}

body {
    background-color: #fff;
}

main {
    margin: 3.5rem auto 0;
    max-width: 35rem;
    text-align: left;
    padding: 1rem;
    margin-bottom: 3rem;
}

nav {
    position: fixed;
    overflow: hidden;
    width: 100%;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    display: flex;
    z-index: 1;
}

ul {
    padding-inline-start: 0;
}

ol {
    padding-inline-start: 20px;
}

main ul {
    list-style-type: none;
}

.top-nav {
    background: #34a29c;
    top: 0;
    flex-flow: row nowrap;
    justify-content: space-between;
    min-height: 2rem;
}

.bottom-nav {
    background-color: #333;
    bottom: 0;
}

.navContainer {
    margin: 0 auto;
    flex-flow: row nowrap;
    display: flex;
    justify-content: space-evenly;
    width: 39rem;
}

.navContainer a {
    display: inline;
    font-size: 1rem;
    color: #cafffc;
    text-decoration: none;
    text-align: center;
}

.navContainer svg {
    margin: 0 auto;
}

.site-name {
    align-self: center;
    flex-grow: 2;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.5rem;
    padding: 0.3rem 0;
}

a,
p,
textarea {
    font-family: 'Lato', sans-serif;
}

p {
    line-height: 1.4;
}

a {
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 2.4rem;
    border-bottom: 1px solid $blue;
    margin-top: 0.7rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.4rem;
}

.weekHeading h2 {
    padding-bottom: 3px;
    border-bottom: solid 1px gray;
}

h3 {
    font-size: 1.7rem;
    /* margin-bottom: 1rem; */
}

h4 {
    font-size: 1.375rem;
    margin: 0 0 0.7rem;
}

h5,
h6 {
    font-size: 1.2rem;
}

svg {
    width: 1rem;
}

.fa-home,
.fa-book-open,
.fa-sign-in-alt,
.fa-comments {
    color: #cafffc;
    display: block;
}

.updateLink .fa-pencil-alt {
    color: #e8a830;
    padding-left: 0.5rem;
    float: right;
    margin: 0.35rem 0.5rem;
}

.reportLinks a {
    padding: 0.5rem;
    background: #fff;
    margin-bottom: 0.3rem;
    border: 1px solid #afafaf;
    text-decoration: none;
    display: block;
    border-radius: 0.3rem;
}

button {
    border: 1px solid #236b67;
    background: #34a29c;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    display: block;
    width: 100%;
    padding: 0.7rem 4rem;
    margin: 1.5rem auto;
    font-size: 1rem;
    font-weight: 600;
}

.createLink {
    border: 1px solid #236b67;
    background: #34a29c;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;

    display: block;
    width: 100%;
    padding: 0.7rem 4rem;
    margin: 1.5rem auto;
}

input,
select,
.input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    border-radius: 0.2rem;
    padding: 0.6rem 0.6rem;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1.4rem;
    min-height: 3rem;
    max-width: 35rem;
    font-size: 1rem;
}

label {
    font-size: 1rem;
    margin: 1.5rem 0 .25rem;
    display: block;
}

label::after {
    content: ":";
}

textarea {
    width: 100%;
    min-height: 10rem;
    padding: 0.4rem;
    font-size: 1rem;
}

.messageBox {
    margin: 0 0 1rem;
    padding: 1rem 1.2rem;
    background-color: #f1f1f1;
    border-radius: 0.5rem;
}

.chatSaved {
    margin: 0 0 1rem;
    padding: 1rem 1.2rem;
    background-color: #dbf3ec;
    border-radius: 0.5rem;
}

.chatFailed {
    margin: 0 0 1rem;
    padding: 1rem 1.2rem;
    background-color: #f3dbdb;
    border-radius: 0.5rem;
}

.chatHistoryButton {
    background-color: #333333;
}

.timestamp,
.username {
    display: inline-block;
}

.timestamp {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
}

.username {
    margin-right: 0.5rem;
    font-weight: 600;
}

.textAreaChat {
    min-height: 5rem;
    padding: 1rem;
    resize: none;
    border-radius: 0.5rem;
    border-color: gray;
}

.messageLabel {
    display: none;
}

@media screen and (min-width: 768px) {
    .top-nav {
        min-height: 3rem;
    }

    .bottom-nav {
        top: 3.7rem;
        bottom: unset;
        padding: 1rem 0;
    }

    .createLink {
        padding: 0.7rem 4rem;
        margin: 1.5rem 0 0 0;
    }

    .navContainer a {
        display: inline;
        font-size: 1.2rem;
        color: #cafffc;
        text-decoration: none;
        text-align: center;
    }

    .navContainer svg {
        margin: 0 0.5rem 0 0;
    }

    .fa-home,
    .fa-book-open,
    .fa-sign-in-alt,
    .fa-comments {
        margin: 0 0.5rem 0 0;
        display: inline-block;
    }

    main {
        padding: 1rem;
        margin: 7.5rem auto 0;
    }
}
